:root {
  --white: #ffffff;
  --black: #1e1e1e;
  --orange: #F57500;
  --beige: #e9a873;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--orange);
}

ul{
  margin: 0;
  list-style: none;
  padding: 0;
}

.albert-sans-regular {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.albert-sans-bold {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

* { box-sizing: border-box; font-family: 'Albert Sans' }

.main-center-vertically{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%);
  height: calc(100%);
  position: absolute;
  flex-direction: column;
  gap: 20px;
}

.rotate{
  display: inline-block;
  margin: 0px .15em;
}

.backgrounded{
  --bgcolor: var(--white);
  --color: var(--black);
  background-color: var(--bgcolor);
  border: 5px solid;
  border-color: var(--bgcolor);
  color: var(--color);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.495);
}

.rotated-text{
  font-size: inherit;
  font-weight: inherit;
}

.title-text{
  font-weight: bold;
  font-size: 44pt;
  margin: 0;
  margin-top: 7rem;
}

.preload-images {
  position: absolute;
  visibility: hidden;
  opacity: 0%;
  overflow: hidden;
}

.preload-images > img {
  position: absolute;
  user-select: none;
  pointer-events: none;
  height: 100px;
  width: 100px;
}

.button{
  width: 225px;
  font-weight: 500;
  border-radius: 25px;
  border: 2px solid var(--black);
  font-size: 18pt;
  padding: 10px 0px;
}

.white-button{
  background-color: var(--white);
  color: var(--black);
}

.black-button{
  background-color: var(--black);
  color: var(--white);
}

.black-button:disabled{
  opacity: 25%;
}

.setup-button{
  width: 150px;
  font-weight: 500;
  border-radius: 15px;
  border: 2px solid var(--black);
  font-size: 12pt;
  padding: 10px 0px;
  background-color: var(--beige);
  color: var(--black);
}

.setup-input-field{
  width: 200px;
  font-weight: 500;
  border-radius: 15px;
  border: 2px solid var(--black);
  font-size: 12pt;
  padding: 10px 0px;
  background-color: var(--white);
  text-align: center;
}

.setup-button::placeholder {
  color: rgba(0, 0, 0, 0.536);
  opacity: 1; /* Firefox */
}

.setup-button-list{
  margin: 0;
  padding: 0;    
  display: flex;
  gap: 20px;
}

.setup-button-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;   
  grid-template-rows: 1fr 1fr;      
  gap: 1rem;       
  margin: 0;
  padding: 0;                 
}

.setup-player-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.setup-player-list-item{
  font-weight: 500;
  font-size: 14pt;
}

.orange-rotated{
  --bgcolor: var(--orange);
  --color: var(--black);
  font-weight: 500;
}

.white-text{
  margin: 0;
  color: white;
}

.main-game-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.game-info-section{
  flex: 3;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 20px;
}

.timer{
  margin: 0px;
  font-size: 24pt;
}

.disabled-words-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .2vh;
  border: 5px solid var(--white);
  height: 70%;
  width: 100%;
  font-size: 2vw;
  font-weight: 500;
}

.disabled-word{
  color: var(--white);
}

.location-word{
  color: var(--white);
  font-size: 1.5vw;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.game-painting-section{
  flex: 5;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.game-player-score{
  font-size: 18pt;
  font-weight: 500;
  color: var(--white);
}

.round-title{
  margin: 0;
  font-size: 24pt;
  color: var(--white);
}

.round-title-number{
  color: black;
  background-color: white;
  padding: 0 15px;
  border-radius: 15px;
}

.image-section{
  margin: 20px 0px;
  height: 70%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.describe-painting-container{
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
}

.image-bottom-section{
  position: absolute;
  width: 100%;
  bottom: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.image{
  max-height: 100%;
  max-width: 100%;
}

.image-button{
  width: 175px;
  height: 40px;
  border: 2px solid var(--black);
  border-radius: 20px;
  font-size: 15pt;
  font-weight: bold;
}

.stop-input{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 5;
}

.arrived-button-popup{
  position: absolute;
  z-index: 6;
  bottom: min(10rem, 5vh);
}

.darkener{
  position: absolute;
  pointer-events: none;
  touch-action: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition-property: opacity;
  transition-duration: .25s;
  user-select: none;
}

.popup-text{
  transform: scale(0%);
  transition-property: transform;
  transition-duration: .25s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-parent{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 1px;
  position: relative;
  width: 25px;
  height: 25px;
  margin: 0px 10px;
}

.inline-img{
  position: absolute;
  width: 50px;
  height: 50px;
}

.header-button-home{
  z-index: 3;
  position: fixed;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 10px;
  background-color: var(--white);
  border: 2px solid var(--black);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-button-back{
  z-index: 3;
  position: fixed;
  width: 150px;
  height: 50px;
  top: 10px;
  left: 10px;
  background-color: var(--white);
  border: none;
  font-size: 14pt;
  background-color: transparent;
}

.header-icon-back{
  position: absolute;
  left: 0;
  top: 5px;
  height: 40px;
  
}

.header-icon{
  width: 100%;
}

.home-background{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.645);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 7;
}

.home-container{
  width: 80%;
  height: 70%;
  max-width: 500px;
  max-height: 400px;
  gap: 10px;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.x-button{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
}

.x-icon{
  height: 100%;
}

.title-image-container{
  position: fixed;
  left: 1rem;
  right: 0;
  bottom: 1rem;
  width: auto;
}

.title-image-container > img{
  height: 10vh;
}